.active{
    display: none;
}

:root{
    --color_noir: #000;
    --color_jaune: #FFD700;
    --color_blanc: #fff;
    --color_bg_design: #151519;
    --color_bg_testapic: #151519;
    --color_bg_experience: #151519;
    --width_section: 1200px;

}

@font-face {
    font-family: 'Fira';
    src: url(../fonts/FiraSans.otf); 
}
@font-face {
    font-family: 'Quantico';
    src: url(../fonts/Quantico.otf);
}

/* CONSTANTES */

h1{
    font-family: 'Quantico';
    font-size: 42px;
    font-weight: bold;
    color: var(--color_blanc);

}
h2{
    font-family: 'Quantico';
    font-size: 36px;
    font-weight: bold;
    color: var(--color_blanc);
    margin-bottom: 12px;
}
h3{
    font-family: 'Quantico';
    font-size: 30px;
    font-weight: bold;
    color: var(--color_blanc);
}
h4{
    font-family: 'Quantico';
    font-size: 24px;
    font-weight: bold;
    color: var(--color_blanc);
}

p{
    color: var(--color_blanc);
    font-family: 'Fira';
}


/* MEDIA RESPONSIVE */

/* @media only screen and (max-width: 934px) {
    nav{
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    nav li{
        width: 100vw;
        text-align: center;
} */

    /* .DW{
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 480px;
    }
    .DW .logo_DW img{
        width: 80%;
    }
} */

/* @media only screen and (max-width: 1160px){
    .bloc nav li {
        margin-right: 30px;
    }
    .bloc{
        margin: 0 auto;
    }
    .logo_DW{
        display: none;
    }
} */

/*  */

html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color_noir);
    font-family: 'Fira';
    margin: 0 auto;
    max-width: 100vw;
}
header{
    height: 100px;
    margin: 0 auto;
    max-width: var(--width_section);
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.fond_header{
    background-color: #000000;
    max-width: 100vw;
}

/* RESPONSIVE */

@media screen and (min-width: 900px) {
    .hamburger{
        display: none;
    }
}

.navlinks{
    display: flex;
    justify-content: space-evenly;
    
}
nav li{
    display: inline-block;
    list-style-type: none;
    margin-right: 100px;
    font-size: 1.2em;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* transition: 0.1s; */
}
nav a:hover{
    display: block;
    transform: rotate(-1deg);
    transition: 0.5s;
    /* color: black; */
    cursor: default;
}

.logo_DW{
    padding: 3px;
    transition: 0.5s;
}

.logo_DW:hover{
    transform: rotate(-720deg);
    transition: 0.5s;
    /* color: black; */
    cursor: default;
}

/* RESPONSIVE */


.DW{
    max-width: var(--width_section);
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    background-color: var(--color1);
}
.DW .img_dorian{
   max-width: 45%;
    
}



.DW .info_dorian{
    max-width: 460px;

    margin: auto auto;
    text-align: left;
    font-family: 'Quantico';
}
.DW .info_dorian p .auteur{
    font-size: 0.9em;
    font-weight: 400;
}

.DW .info_dorian p{
    font-size: 3em;
    font-weight: 700;
}

hr {
    height: 10px;
    max-width: 1200px;
    background-color: var(--color_blanc);
    margin: 0 auto;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .DW{
        flex-direction: column-reverse;
        padding-top: 140px;
        text-align: center;
    }
}



/* Comment suis-je arrivé là? */

.informations{
    max-width: 450px;
    margin: 140px auto;
}

.info_div{
    max-width: 531px;
    height: 513px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: justify;
}

.info_div p{
    color: var(--color_blanc);
}

.info_div p{
    color: var(--color_blanc);
}
.info_div img{
    margin-top: 30px;
    max-width: 100%;

}

.info_div h2{
    margin-bottom: 30px;
}

.texte_info{
    display: flex;
    width: 100%;
}



/* Un nouveau design system __________________________________________________*/

/* RESPONSIVE */



.design_bg{
    background-color: var(--color_bg_design);
}

.design{
    max-width: var(--width_section);
    margin: 0 auto;
    padding: 80px 0 80px 0;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.design img{
    max-width: 100%;
}

.design .text_design{
    max-width: 400px;
}
@media screen and (max-width: 900px){
    .design{
        flex-direction: column;
    }
}

/*
.btn_design{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s box-shadow;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    background: #FFFF;
    height: 52px;
    width: 180px;
    border: none;

}

.btn_design:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn_design:hover::before, .btn_design:hover::after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #750cd1;
    border-radius: 6px;
    animation: 1s jiggle infinite;
}

.btn_design:hover::after{
    background: #FFF1A8;
    animation: 0.5s jiggle infinite;
}

@keyframes jiggle{
    0% {
        transform: translate(-5px,-5px);
    }
    14% {
        transform: translate(0,-5px);
    }
    28% {
        transform: translate(5px,-5px);
    }
    42% {
        transform: translate(-5px,0);
    }
    57% {
        transform: translate(5px,5px);
    }
    71% {
        transform: translate(0px,-5px);
    }
    85% {
        transform: translate(-5px,5px);
    }
    100% {
        transform: translate(-5px,0);
    }
}
/* En parrallèle _______________________________________________________*/

.parrallele_container{
    display: flex;
    flex-direction: column;


    max-width: var(--width_section);
    margin: 100px auto;
}

.parrallele_container img{
    width: 1200px;
    height: 277px;
}

.parrallele_container p{
    align-self: flex-end;
    font-size: 14px;
}
.parrallele_container .text_parrallele{
    max-width: 432px;
    align-self: flex-start;
    font-size: 14px;
}

.parrallele_container h2{
    display: inline;
}
/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .parrallele_container .text_parrallele{
        margin: 0 auto;
    }

    .parrallele_container img, .parrallele_container p{
        display: none;
    }
}



/* Testapic _________________________________________________________________________ */

/* RESPONSIVE */



.section_testapic{
    background-color: var(--color_bg_testapic);
    padding: 80px 0;
}

.section_testapic .testapic{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    max-width: var(--width_section);
}
.section_testapic .testapic_text{
    max-width: 400px;
    text-align: justify;
    font-family: 'Quantico';
}

.img_testapic{
    width: 100%;
}

@media screen and (max-width: 900px) {
    .section_testapic .testapic{
        flex-direction: column;
    }
}

/* L'agilité? _________________________________________________________________________*/




.agilite{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 70px auto;
    max-width: var(--width_section);
}

.agilite .agilite_text{
    max-width: 400px;
    margin-right: 90px;
}

.agilite .agilite_text p{
    text-align: justify;
}

.agilite_img{
    max-width: 50%;
}

@media screen and (max-width: 900px) {
    .agilite{
        flex-direction: column;
    }
    
    .agilite img{
        max-width: 80%;
    }
    .agilite_text{
        padding-left: 50px;
    }
    }
}



/* Experience _________________________________________________________________________*/

/* RESPONSIVE */

@media screen and (max-width: 900px) {
    
}

footer{
    background-color: var(--color_bg_experience);
    /* max-width: var(--width_section); */

    text-align: center;
    padding: 70px 0px 70px 0px;
}